<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/style.css">
    <title>Add User</title>
</head>
<body>
    <h1 class="h1">Welcome to clockwise, please add your name</h1>
    <form method="post" action="/add_info">
        <input type="text" name="username" placeholder="Enter your username" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
